<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 
</style>

<div class="container">
  <h1>Chatbot Helper</h1>
  <div id="app">
    <div>
      <input
        class="form-input"
        type="text"
        placeholder="Username"
        v-model="username"
      />
    </div>
    <div>
      <input
        class="form-input"
        type="password"
        placeholder="Password"
        v-model="password"
      />
    </div>
    <div>
      <button class="login-btn"  (click)="login">Login</button>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->