/* You can add global styles to this file, and also import other style files */
h1, h2 {
    font-family: Lato;
 }
 body {
     font-family: sans-serif;
     background: linear-gradient(45deg, #6cfd9f, #6887ff);
     height: 100%;
     color: #333;
 }